{% extends 'base.html.twig' %}

{% block body %}
{% for more in mores %}
    <div class="container">
        <div style="height: 150px"></div>
        <div class="row border rounded p-5">
            <div class="col-12 text-center">
                <h3 class="title-page">{{more.politicstitle|raw}}</h3>
            </div>
            <div class="col-12 py-5">
                        <div class="border my-2 p-5">
                            <p>{{more.politics|raw}}</p>
                        </div>
                    {% endfor %}
            </div>
        </div>
        <div style="height: 150px"></div>
    </div>
{% endblock %}
