<form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('ATTENTION ! Toute suppression est définitive. Voulez-vous vraiment supprimer votre publication ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    <button id="cardDeleteLink" class="cardUpdateLink bold">Supprimer</button>
</form>
